html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

#home {
    height: 100%;
    width: 100%;
    position: relative;

}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 64px;
    background: #221C5A;
    text-transform: uppercase;
    color: #f3f3f3;
    font-size: 14px;
    position: fixed;
    z-index: 100;

}
.navbar ul li a{
    text-decoration:none;
    color: #f3f3f3;
}
.navbar ul li a:hover{
    color: grey;
    transition: 1s all;
    font-weight: 500;
}
ul {
    list-style: none;
    text-align: center;
    line-height: 64px;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.home-main {
    position: relative;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px + 100px);
    background: url(../images/main.jpg);
    background-size: cover;
    background-position: center top;

}

h1 {
    margin: 0;
    padding: 0;
}

.text-part {
    text-align: center;
    font-size: 30px;
    color: #f3f3f3;
    margin: 8% auto;
    position: absolute;
    top: calc(23% - 64px);
    bottom: 0;
    left: 0;
    right: 0;
}

.text-part .arrangement {
    margin-bottom: 85px;
}

.text-part p {
    font-size: 24px;

}

/*services part */
#services {
    width: 100%;
    background: #221C5A;
}

.services-main {
    width: 77%;
    margin: auto;
    background: #221C5A;
}

.left-menu {
    height: 370px;
    width: 370px;
    background: #32DB8A;
    position: sticky;
    top: 64px;

}

.left-menu .left-content {
    overflow: hidden;
}

.left-menu .left-content2 {
    font-size: 109PX;
    line-height: 80px;
    margin-top: 40px;
    width: 245px;
    margin: 40px auto 0 auto;
    word-break: break-all;
}

.left-menu .left-content2 h1 {
    position: relative;
    left: 0;
}

.left-menu h1 {
    margin: 0 auto;
    color: #55B286;
    font-size: 180px;
    position: relative;
    left: -50px;

}

.left-menu .ser {
    color: #f3f3f3;
    font-weight: 1000;
    font-size: 100px;

}

.left-menu .ser .one {
    margin-top: -50px;
}

.left-menu .ser .two {
    margin-top: -200px;
}

.again {
    width: 100%;
    overflow: auto;
}

.right-menu {
    width: calc(100% - 370px);
    overflow: auto;
    float: right;
    background: white;
}

.right-menu-main {
    width: 80%;
    overflow: auto;
    padding: 20px 20px;
    margin: auto;
}

.top,
.bottom {
    position: relative;
}

.top p {
    font-size: 16px;
}

.top-left {
    width: 45%;
    display: inline-block;
    line-height: 28px;
}

.top-left h2 {
    font-weight: 100;
    margin: 0;
}

.top-right h2 {
    font-weight: 100;
    margin: 0;
}

.text-portion {
    margin-left: 18%;
}

.top-right {
    width: 45%;
    line-height: 30px;
    text-align: left;
    display: inline-block;
}




/*portfolio*/

#portfolio {
    height: 255%;
    width: 100%;
    background-color: #221C5A;
    background-image: url(../images/background_img_02.jpg);
    background-repeat: no-repeat;
}

.portfolio-main {
    margin: auto;
    height: 100%;
    width: 77%;
    position: relative;

}

.pl {
    height: 370px;
    width: 370px;
    background: rgb(255, 186, 66);
    margin-left: calc(100% - 370px);
}


.pl .ser {
    margin-right: -35px;
}

.pl h1 {
    color: #e3a436;
}


.pl-left {
    width: calc(100% - 370px);
    height: calc(100% - 370px);
    position: relative;
    background: white;
}

.one-image {
    height: 33%;
    width: 100%;
    background: url(../images/port_item_01.jpg);
    background-size: cover;
}

.two-image {
    height: 28%;
    width: 100%;
}

.img-left {
    height: 100%;
    width: 50%;
    float: left;
    background: url(../images/port_item_04.png);
}

.img-right {
    height: 100%;
    width: 50%;
    float: right;
    background: url(../images/port_item_05.png);
}

.three-image {
    height: 33%;
    width: 100%;
    background: url(../images/labwork.jpg);
    background-size: cover;
}

h2 {
    margin: 0;
    padding: 0;
}

.load {
    height: 6%;
    width: 100%;
    background: #221C5A;
    margin-top: .5px;
}

.load-more {
    height: 100%;
    width: calc(100% - 370px);
    background: #e64b77;
    color: #f3f3f3;
    text-align: center;
    float: right;
}

.load-more h2 {
    margin-top: 10px;
}

.load-more img {
    margin-top: 10px;
}


/*about us part*/

#about {
    width: 100%;
    background-color: rgb(34, 28, 90);
    background-image: url(../images/background_img_03.jpg);
    background-size: cover;

}

.about-main {
    width: 77%;
    margin: auto;
}

.ab {
    background: #e64b77;
}

.ab .ser {
    margin-right: -35px;
}

.ab h1 {
    color: #b24564;
}

/*about right portion*/

.about-right {
    width: calc(100% - 370px);
    background: #f3f3f3;
    overflow: auto;
    float: right;
}

.top-heading {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    color: #221c5a;
    margin-top: -10%;
}

.about-content {
    width: 80%;
    margin: auto;
}

.about-top {
    width: 100%;
    overflow: auto;
}

.about-bottom {
    width: 100%;
    overflow: auto;
    padding-bottom: 30px;
}

.about-top-left {
    width: 50%;
    float: left;
    color: #221c5a;
    font-weight: 100;

}

.about-top-left img {
    float: left;
    margin-top: 10px;
}

.about-top-left .inner {
    display: table;
    vertical-align: middle;
}

.inner-inner {
    display: table-cell;
    vertical-align: middle;
}

.about-top-left .inner p {
    font-size: 24px;
    float: left;
    margin-left: 20px;
}

.ab-top {
    color: #221c5a;
    width: 90%;
    margin-top: -20px;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
}

.about-image-part {
    width: 100%;
    height: 400px;
    background-image: url(../images/about_img_04.jpg);
    background-position: center;
    background-size: cover;
}

.about-last {
    width: 100%;
    overflow: auto;
}

.last-left {
    width: calc(100% - 375px);
    float: left;
}

.last-left h1 {
    font-size: 16px;
    line-height: 25px;
}

.change {
    letter-spacing: 5px;
    color: #ee87a4;
    font-weight: 100;
}

.last-right {
    width: 370px;
    height: 370px;
    display: inline-block;
    float: right;
    background-image: linear-gradient(rgba(250, 85, 125, .5),rgba(230, 75, 119, .5)),url(../images/IMG_20181112_183208.jpg);
    background-position: center top;
    background-size: cover;
}

.last-main {
    width: 80%;
    position: relative;
    top: 80px;
    margin: auto;
}

.last-main p {
    margin-top: 50px;
    line-height: 25px;
}


/*project part*/

#project {
    width: 100%;
    background-color: rgb(34, 28, 90);
    background: url(../images/background_img_04.jpg);
    background-size: cover;
    padding-bottom: 20px;
}

.project-main {
    width: 77%;
    margin: auto;
}

.pr {
    float: left;
}

.pt {
    background-color: #32DB8A;
}

.pt h1 {
    color: #55B286;
}

.project-down {
    width: 100%;
}

.pr-main {
    width: 77%;
    margin: auto;
}

.pr-inner {
    width: 36%;
    color: #f3f3f3;
    font-size: 18px;
    line-height: 34px;
    margin-top: 70px;
    letter-spacing: 1px;
}

.pr-change {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 80px;
}


/*contact part*/
#contact {
    width: 100%;
    background-color: rgb(34, 28, 90);
    background-image: url(../images/background_img_05b.jpg);
}

.contact-main {
    width: 77%;
    margin: auto;
}

.contact-right {
    width: calc(100% - 370px);
    float: right;
    height: 50%;
    overflow: hidden;
}

.contact-top {
    width: 100%;
    background-color: white;
}

.contact-bottom {
    width: 100%;
    height: 370px;
    z-index: 3;
}

.contact iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contact-top-main {
    width: 80%;
    margin: auto;
    padding-top: 15px;
    overflow: auto;
}

.ct-top-left {
    width: 50%;
    line-height: 30px;
    padding-bottom: 10px;
    display: inline-block;
}

.ct-top-right {
    width: 49%;
    display: inline-block;
    float: right;
    overflow: auto;
}

p {
    margin: 0;
}

.frmr {
    margin-top: 20px;
}

.ct-inner {
    width: 90%;
}

h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
}

.form {
    border: 2px solid #e54b76;
    text-align: center;
    color: #e54b76;
    background: transparent;
    font-size: 16px;
}

.form:hover {
    background-color: #e54b76;
    transition: 1s all;
    color: white;
}

form {
    width: 100%;
    overflow: auto;
}

input {
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #111;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 10px 0;

}

.ct-top-left h1 {
    font-size: 18px;
    color: #e64b77;
}

footer {
    width: 100%;
    height: 25%;
    background-color: #221C5A;
    color: #5b5881;
}
.footer-main{
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
}
footer ul li img:hover {
    height: 30px;
    transition: 1s all;
    background-color: lightblue;
    border-radius: 50%;
}
footer img{
    color: aliceblue;
}